* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #aaa;
}

#page {
    margin: 0 auto;
    width: 800px;
}

header {
    text-align: center;
}

#menu {
    list-style-type: none;
    overflow: hidden;
    background-color: #666;
    border: 2px #333 solid;
    border-radius: 5px;
}

.left{
    float: left;
}

.right {
    float: right;
}

.menu-item a {
    color: #000;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}



main {
    padding: 30px 20px;
}

#error-div {
    margin: 10px auto;
    border: 1px solid red;
    background-color: salmon;
    padding: 10px 20px;
}

#error {
    color: red;
}

#info-div {
    margin: 10px auto;
    border: 1px solid green;
    background-color: lightgreen;
    padding: 10px 20px;
}

#info {
    color: green;
}

footer {
    padding: 10px;
    background-color: #666;
    border-radius: 5px;
    border: 2px #333 solid;
}

#copyright {
    color: #000;
}