* {
    padding: 0;
    margin: 0;
}

#page {
    margin: 0 auto;
    width: 800px;
}

header {
    text-align: center;
}

#menu {
    list-style-type: none;
    overflow: hidden;
    background-color: #666;
    border: 2px #333 solid;
    border-radius: 5px;
}

.menu-item {
    float: left;
}

.menu-item a {
    color: #333;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 30px 20px;
}

footer {
    padding: 10px;
    background-color: #666;
    border-radius: 5px;
    border: 2px #333 solid;
}

#copyright {
    color: #333;
}