.forum-preview {
    padding: 10px 20px;
    border: 2px dotted black;
    margin-bottom: 20px;
}

.forum-name {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.new-item {
    background-color: black;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}