.preview {
    padding: 10px 20px;
    border-top: 1px solid black;
    margin: 10px 0px;
}

.preview-title {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-style: italic;
}

.new-item {
    background-color: black;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}