<h2>General Settings</h2>

<form method="POST" action="/ap/general">
    <label for="boardName">Board Name</label>
    <input type="text" name="boardName" id="boardName" value="<%= boardName %>">
    <input type="submit" value="Save">
</form>