<h2>General Settings</h2>

<form method="POST" action="/ap/general">
    <label for="board_name">Board Name</label>
    <input type="text" name="board_name" id="board_name" value="<%= board_name %>">
    <input type="submit" value="Save">
</form>