<h1>Admin Panel</h1>
<form method="POST" action="/ap">
    <input type="text" name="username" id="username" value="<%= USERNAME %>" disabled>
    <input type="password" name="password" id="password" placeholder="password">
    <input type="submit" value="Login">
</form>