<h2>Global Permissions</h2>

<form action="/ap/pex" method="POST">
    <h3>Anonymous</h3>
        <label for="A_REGISTER">Register</label>
        <input type="checkbox" name="A_REGISTER" <%= A_REGISTER %>
        <br>
        <label for="A_VIEW_FORUM">View Forum</label>
        <input type="checkbox" name="A_VIEW_FORUM" <%= A_VIEW_FORUM %>
        <br>
        <label for="A_VIEW_USER">View User</label>
        <input type="checkbox" name="A_VIEW_USER" <%= A_VIEW_USER %>

    <br>
    <h3>Registered User</h3>

    <h3>Moderator</h3>

    <input type="submit" value="Save">

</form>