<h2>Global Permissions</h2>

<form action="/ap/pex" method="POST">
    <h3>Anonymous</h3>
        <label for="REGISTER">Register</label>
        <input type="checkbox" name="REGISTER">
        <br>
        <label for="VIEW_FORUM">View Forum</label>
        <input type="checkbox" name="VIEW_FORUM">
        <br>
        <label for="VIEW_USER">View User</label>
        <input type="checkbox" name="VIEW_USER">

    <h3>Registered User</h3>

    <h3>Moderator</h3>

    <input type="submit" value="Save">

</form>