<h1 class="title">Forum List</h1>
<% if(locals.forums) { %>
    <% for(let i = 0; i < forums.length; i++) { %>
        <div class="preview">
            <h2><a class="preview-title" href="/f/<%= forums[i].name %>">f/<%= forums[i].name %></a></h2>
            <p class="preview-description"><%= forums[i].description %></p>
        </div>
    <% } %>
<% } %>

<% if(locals.canCreateForum) { %>
<a class="new-item" href="/f">New Forum</a>
<% } %>