<h1 class="px-0 mt-2">Forum List</h1>

<% if(locals.forums) { %>
    <% for(let i = 0; i < forums.length; i++) { %>
<div class="border border-1 border-dark mt-4 py-2 px-3 bg-light">
    <h2><a href="/f/<%= forums[i].name %>" class="text-decoration-none"><span class="fs-6">f/</span><%= forums[i].name %></a></h2>
    <p class="preview-description"><%= forums[i].description %></p>
</div>
    <% } %>
<% } %>

<% if(locals.canCreateForum) { %>
<div class="mt-3 ps-0">
    <a class="btn btn-primary" href="/f">New Forum</a>
</div>
<% } %>