<h1 class="title">Forums</h1>
<% if(locals.forums) { %>
    <% for(let i = 0; i < forums.length; i++) { %>
        <div class="forum-preview">
            <a class="forum-name" href="/f/<%= forums[i].name %>"><%= forums[i].name %></a>
            <p class="forum-description"><%= forums[i].description %></p>
        </div>
    <% } %>
<% } %>

<a class="new-item" href="/f">New Forum</a>