<h1 class="px-0 mt-2">Login</h1>
<form method="POST" action="/login" class="col-sm-4">
    <% if(locals.back) { %>
    <input type="hidden" name="back" value="<%= back %>">
    <% } %>
    <input type="hidden" name="_csrf" value="<%= TOKEN %>">
    <div class="p-1">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="p-1">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <div class="p-1 text-end">
        <button class="px-3 btn btn-primary">Login</button>
    </div>
</form>