<h1>Login</h1>
<form method="POST" action="/login">
    <% if(locals.back) { %>
    <input type="hidden" name="back" value="<%= back %>">
    <% } %>
    <div class="p-1">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="p-1">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <div class="p-1">
        <button class="p-1 btn btn-primary">Login</button>
    </div>
</form>