<h1>New Forum</h1>

<form method="post" action="/newforum">
    <input type="text" name="name" id="name" placeholder="Name">
    <textarea name="description" id="description" cols="20" rows="10" placeholder="Description"></textarea>
    <input type="submit" value="Create">
</form>