<h1>New Post</h1>

<form method="post" action="/p?f=<%= forum_name %>">
    <input type="text" name="title" id="title" placeholder="Name">
    <textarea name="description" id="description" cols="20" rows="10" placeholder="Description"></textarea>
    <input type="submit" value="Create">
</form>