<form method="post" action="/newtopic">
    <input type="text" name="title" id="title" placeholder="Title">
    <textarea name="description" id="description" cols="20" rows="10" placeholder="Description"></textarea>
    <input type="submit" value="Publish">
</form>