<h1>New Topic</h1>

<form method="post" action="/newtopic?f=<%= forum %>">
    <input type="text" name="name" id="name" placeholder="Name">
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
    <input type="submit" value="Create">
</form>