<form method="post" action="#">
    <input type="text" name="title" id="title">
    <textarea name="description" id="description" cols="20" rows="10"></textarea>
    <input type="submit" value="Publish">
</form>