<h1 class="px-0 mt-2">Register</h1>
<form method="POST" action="/register" class="col-sm-4">
    <div class="p-1">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="p-1">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control">
    </div>
    <div class="p-1">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <div class="p-1 text-end">
        <button class="px-3 btn btn-primary">Register</button>
    </div>
</form>