<h1>Topics</h1>

<% if(locals.posts) { %>
    <% for(let i = 0; i < posts.length; i++) { %>
        <div class="post-preview">
            <h3><a href="/p/<%= posts[i].id %>"><%= posts[i].name %></a></h3>
        </div>
    <% } %>
<% } %>

